html,
body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #282828;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  font-family: "raleway", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

body {
  background-color: #f4f4f4;
  width: 100%;
  height: 100%;
}

.hamburgerArea {
  width: 100vw;
  height: 10vh;
  position: fixed;
  z-index: 25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.hamburgerArea .menuIcon {
  margin-right: 1.5em;
  cursor: pointer;
}

.hamburgerArea span {
  display: block;
  width: 30px;
  height: 3px;
  margin-bottom: 4px;
  position: relative;
  background: #f4f4f4;
  border-radius: 3px;
}

@media (min-width: 840px) {
  .hamburgerArea {
    display: none;
  }
}

.offPageMenu {
  width: 100vw;
  height: 0vh;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: fixed;
  z-index: 20;
}

.offPageMenu .menu {
  margin-left: 2em;
  opacity: 1;
}

.offPageMenu .menu li {
  -webkit-transform: translate(-50px);
          transform: translate(-50px);
  opacity: 0;
  cursor: pointer;
  color: #282828;
  margin-top: 1em;
  margin-bottom: 1em;
}

.menuArea {
  display: none;
}

@media (min-width: 840px) {
  .menuArea {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
  }
  .menuArea .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .menuArea .menu h3 {
    margin: 2rem 3rem;
    font-family: "raleway", sans-serif;
    font-weight: 600;
    font-size: 0.75rem;
  }
  .menuArea .menu h3 a {
    color: white;
  }
}

.bannerWrapper {
  width: 100vw;
  height: 100vh;
  background-color: teal;
  z-index: 2;
  overflow: hidden;
}

.bannerWrapper #mobileVideo {
  height: 100vh;
  margin-left: 50vw;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

@media (min-width: 840px) {
  .bannerWrapper #mobileVideo {
    display: none;
  }
}

.bannerWrapper #desktopVideo {
  display: none;
}

@media (min-width: 840px) {
  .bannerWrapper #desktopVideo {
    display: block;
    height: 100vh;
  }
}

.bannerWrapper .bannerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

@media (min-width: 840px) {
  .bannerWrapper .bannerContent {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.bannerWrapper .bannerContent .alignTop {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.bannerWrapper .bannerContent .alignBottom {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.bannerWrapper .bannerContent .alignCenter {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bannerWrapper .bannerContent .mobileSplit {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 840px) {
  .bannerWrapper .bannerContent .mobileSplit {
    width: 50%;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.bannerWrapper .bannerContent img {
  width: 40%;
}

@media (min-width: 840px) {
  .bannerWrapper .bannerContent img {
    width: 45%;
  }
}

.bannerWrapper .bannerContent h1 {
  font-family: "raleway", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0.5rem 2rem;
  color: white;
}

@media (min-width: 840px) {
  .bannerWrapper .bannerContent h1 {
    font-size: 2rem;
  }
}

.bannerWrapper .bannerContent h2 {
  font-family: "raleway", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  margin: 0.5rem 2rem;
  color: white;
  margin-top: 3rem;
}

@media (min-width: 840px) {
  .bannerWrapper .bannerContent h2 {
    margin: 0.5rem 10rem;
    font-size: 1.5rem;
  }
}

.bannerWrapper .bannerContent button {
  width: 75%;
  background-color: #fcb2ae;
  border: none;
  font-size: 1rem;
  font-family: "raleway", sans-serif;
  font-weight: 600;
  padding: 1rem 1rem;
  margin: 1rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
  color: white;
}

@media (min-width: 840px) {
  .bannerWrapper .bannerContent button {
    width: 50%;
  }
}

.bannerWrapper .hideReel {
  display: none;
}

.bannerWrapper .reelOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(40, 40, 40, 0.75);
  top: 0;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bannerWrapper .reelOverlay .closeArea {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.bannerWrapper .reelOverlay .closeArea i {
  font-size: 3rem;
  color: #ffffff;
  margin-right: 1rem;
  cursor: pointer;
}

@media (min-width: 840px) {
  .bannerWrapper .reelOverlay .closeArea i {
    margin-right: 5rem;
  }
}

.bannerWrapper .reelOverlay video {
  width: 95%;
  z-index: 25;
}

@media (min-width: 840px) {
  .bannerWrapper .reelOverlay video {
    width: 80%;
  }
}

.bannerWrapper .reelOverlay video:focus {
  outline: none;
}

.clientWrapper {
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

@media (min-width: 840px) {
  .clientWrapper {
    text-align: left;
    padding: 2rem 3rem;
  }
}

.clientWrapper h1 {
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #282828;
}

@media (min-width: 840px) {
  .clientWrapper h1 {
    font-size: 3rem;
  }
}

.clientWrapper .clientGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 1rem 2rem;
}

@media (min-width: 840px) {
  .clientWrapper .clientGrid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    padding: 2rem 1rem;
  }
}

.clientWrapper .clientGrid .clientImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clientWrapper .clientGrid img {
  width: 90%;
}

@media (min-width: 840px) {
  .clientWrapper .clientGrid img {
    width: 75%;
  }
}

.workWrapper {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  text-align: center;
  padding: 1rem 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 840px) {
  .workWrapper {
    text-align: left;
    padding: 3rem 4rem;
  }
}

.workWrapper h1 {
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #282828;
  margin-bottom: 0;
}

@media (min-width: 840px) {
  .workWrapper h1 {
    font-size: 3rem;
  }
}

.workWrapper .workGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
  margin-top: 2rem;
}

@media (min-width: 840px) {
  .workWrapper .workGrid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    margin-top: 4rem;
    grid-gap: 1rem;
  }
}

.workWrapper .verticalText {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-orientation: sideways-right;
  margin-left: 2rem;
  margin-right: 2rem;
  color: #282828;
}

@media (min-width: 840px) {
  .workWrapper .verticalText {
    font-size: 2rem;
  }
}

.workWrapper .workItem {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.workWrapper .workItem span {
  height: 100%;
  width: 2%;
  background-color: pink;
  border-radius: 2rem;
}

.workWrapper .workItem ul {
  margin: 0;
  text-align: left;
  margin-left: 1rem;
}

.workWrapper .workItem ul li {
  margin: 0;
  margin-bottom: 1rem;
  font-family: "raleway", sans-serif;
  font-weight: 400;
  color: #282828;
  font-size: 1rem;
}

@media (min-width: 840px) {
  .workWrapper .workItem ul li {
    font-size: 1.5rem;
  }
}

.projectsWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.projectsWrapper #p1 {
  background-color: #a3daff;
}

.projectsWrapper #p2 {
  background-color: #fcb2ae;
}

.projectsWrapper .pSection {
  position: absolute;
  height: 100vh;
  width: 90vw;
}
/*# sourceMappingURL=style.css.map */