// Variables

// Colors
$pink: #FCB2AE;
$blue: #A3DAFF;
$black: #282828;
$offWhite: #f4f4f4;
$white: #ffffff;

// Fonts
$raleway: "raleway", sans-serif;
$oswald: "oswald", sans-serif;
$stratos: "stratos", sans-serif;

// Font Weights
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700; 

// Devices
$desktop: 840px;

@mixin desktop{
    @media (min-width: #{$desktop}){
        @content;
    }
}

html, body{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: $black;
}

ul{
    list-style-type: none;
    padding-left: 0;

    li{
        font-family: $raleway;
        font-weight: $regular;
        font-size: 1.5em;
        margin-top:0.5em;
        margin-bottom: 0.5em;
    }
}

h1{
    font-family: $raleway;
    font-weight: $regular;
    font-size: 1.5em;
    color: $black;
}
h2{
    font-family: $raleway;
    font-weight: $regular;
    font-size: 1em;
    color: $black;
}
h3{
    font-family: $raleway;
    font-weight: $bold;
    font-size: 1em;
    color: $black;
}

body{
    width: 100%;
    height: 100%;

    // ** MENU AREA STYLES **
    .hamburgerArea{
        width: 100vw;
        height: 10vh;
        position: fixed;
        z-index: 10;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(255, 255, 255, 0);

        .menuLogo{
            height: 100%;
            width: 50%;
            display: flex;
            align-items: center;
            
            img{
                height: 80%;
                margin-left: 1.5em;
            }
        }

        .menuIcon{
            margin-right: 1.5em;
            cursor: pointer;
        }
        span{
            display: block;
            width: 30px;
            height: 3px;
            margin-bottom: 4px;
            position: relative;
            background: $white;
            border-radius: 3px;
        }
    }

    .offPageMenu{
        width: 100vw;
        height: 0vh;
        // opacity: 0.5;
        background-color: $white;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: fixed;
        z-index: 5;
         

        .menu{
            margin-left: 2em;
            opacity: 1;
            
            li{
                transform: translate(-50px);
                opacity: 0;
                cursor: pointer;
                color: $black;
                margin-top: 1em;
                margin-bottom: 1em;
            }
        }
    }
    // ** END MENU AREA STYLES **

    // --------------------------

    // ** HEADER AREA STYLES **
    .headerArea{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;

        .heroContainer{
            width: 100%;
            height: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url('../../assets/heroImages/elementHero.jpg');
            background-size: cover;
            background-position: center;
            z-index: 0;
            position: fixed;
            filter: blur(0px);

            @include desktop{
                height: 70%;
            }

            img{
                width: 80%;

                @include desktop{
                    width: 50%;
                }
            }
        }

        .overviewContainer{
            width: 100vw;
            height: 50vh;
            border-top-left-radius: 0.5em;
            border-top-right-radius: 0.5em;
            background-color: $white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            z-index: 2;
            top: 50%;
            position: relative;

            @include desktop{
                border-top-left-radius: 1em;
                border-top-right-radius: 1em; 
                flex-direction: row;
                height: 100vh;
                top: 60%;
                justify-content: flex-start;
                align-items: flex-start;
                padding-top: 2em;
            }

            .scrollIndicatorRow{
                width: 100%;
                height: 10%;
                display: flex;
                align-items: center;
                justify-content: center;

                @include desktop{
                    display: none;
                }

                .indicator{
                    width: 20%;
                    height: 15%;
                    background-color: $offWhite;
                    border-radius: 1000px;
                }
            }

            .overviewRow{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                padding-left: 1em;
                padding-right: 1em;
                box-sizing: border-box;

                .oRowLeft{
                    width: 25%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-start;

                    h3{
                        @include desktop{
                            font-size: 2em;
                        }
                    }
                }

                .oRowRight{
                    width: 50%;

                    ul{
                        margin: 0;
                    }

                    li{
                        font-weight: $regular;
                        font-size: 1em;
                        margin-top: 0;
                        margin-bottom: 1.5em;
                        
                        @include desktop{
                            font-size: 1.5em;
                        }
                    }
                }
            }

            .client{
                width: 100%;
                height: 20%;
            }

            .industry{
                width: 100%;
                height: 20%;
            }

            .ourRole{
                width: 100%;
                height: 60%;
                align-items: flex-start;
                padding-top: 1em;

                @include desktop{
                    height: 90%;
                }

                h3{
                    margin: 0;
                }
                
                .oRowLeft{
                    align-items: flex-start;
                }
            }

            .overviewSeperator{
                width: 1%;
                height: 75%;
                background-color: $pink;
                border-radius: 2em;
                margin-left: 1em;
                margin-right: 1em;
                left: 50%
            }
        }
    }
    // ** END HEADER AREA STYLES **

    // ----------------------------

    // ** Wave Break Styles **
    .waveBreak{
        width: 100%;
        height: 14vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: white;
        z-index: 3;

        @include desktop{
            height: 50vh;
        }

        .waveFront{
            position: absolute;
            z-index: 3;
        }
        .waveBack{
            position: absolute;
            z-index: 2;
        }
        .hideEndWave{
            opacity: 0;
        }
    }

    .waveFlipped{
        transform: rotate(180deg);
    }
    // ** END WAVE BREAK **

    // ---------------------------

    // ** WORK AREA STYLES **
    #workArea1{
        background-color: $offWhite;
    }
    #workArea2{
        background-color: $offWhite;
    }
    #workArea3{
        background-color: $white;
        height: 100%;

        #wContent3{
            padding-top: 0vh;
        }

        #sectionNumber3{
            color: $offWhite;
            font-size: 6.5em;
        }
        #sectionNumber3Title{
            font-size: 2.5em;
            margin-top: 2.9em;
        }

        #wWorkArea3{
            height: 250vh;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            .wSection{
                width: 100%;
                height: 33%;
                // margin-top: 2em;
                position: relative;
            }

            #wSection1{
                height: 10%;

                iframe{
                    display: block;       
                    background: white;
                    margin: 0;
                    border: none;      
                    height: 100%;       
                    width: 100%;
                    
                }
            }
            #wSection2{
                position: relative;
                // background-color: yellow;
                display: flex;
            }

            #alignRight{
                align-items: flex-end;
                margin-left: -1em;
            }
            .sectionTitle{
                width: 100%;
                height: 20%;
                z-index: 3;
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                margin-left: 1em;
                margin-top: 3em;
                
                h1{
                    font-family: $raleway;
                    font-weight: $bold;
                    font-size: 1.3em;
                    color: $black;
                    margin: 0;
                }
            }

            .sectionContent{
                width: 100%;
                height: 100%;
                z-index: 1;
                position: absolute;
                display: flex;
                align-items: center;


                img{
                    width: 100%;
                    position: absolute;
                }

            }
        }
    }

    .workArea{
        width: 100vw;
        height: 100vh; 
        position: relative;
        z-index: 2;

        .wContent{
            width: 100%;
            height: 100%;
            overflow: hidden;
            padding-top: 10vh;

            .wInfoArea{
                width: 100%;
                height: 50%;
            }

            .wHeaderRightAlign{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;

            }
            .wHeaderArea{
                width: 100%;
                height: 25vh;
                position: relative;
                white-space: nowrap;
                
                 // LEFT ALIGNMENT
                .headerH1AlignLeft{
                    position: absolute;
                    font-size: 7em;
                    font-weight: $bold;
                    color: white;
                    margin: 0;
                    margin-left: -0.2em;
                    z-index: 1;

                    

                    @include desktop{
                        font-size: 10em;
                    }
                }
                .headerH2AlignLeft{
                    position: absolute;
                    font-size: 3em;
                    font-weight: $bold;
                    color: $black;
                    margin: 0;
                    margin-left: 0.3em;
                    margin-top: 2.3em;
                    z-index: 1;
                }
                .headerImgAlignLeft{
                    position: absolute;
                    z-index: 0;
                    margin-top: 5em;
                    margin-left: -3em;
                }

                // RIGHT ALIGNMENT
                .headerH1AlignRight{
                    position: absolute;
                    font-size: 7em;
                    font-weight: $bold;
                    color: white;
                    margin: 0;
                    margin-left: 0.2em;
                    z-index: 1;
                }
                .headerH2AlignRight{
                    position: absolute;
                    font-size: 3em;
                    font-weight: $bold;
                    color: $black;
                    margin: 0;
                    margin-left: -0.3em;
                    margin-top: 2.3em;
                    z-index: 1;
                }
                .headerImgAlignRight{
                    position: absolute;
                    z-index: 0;
                    margin-top: 5em;
                    margin-left: 3em;
                }
            }

            .wTextArea{
                width: 100%;
                height: 25vh;
                box-sizing: border-box;
                padding: 0em 1.5em;

                h3{
                    font-weight: $regular;
                }
            }

            .wWorkArea{
                width: 100%;
                height: 50%;
                display: flex;
                justify-content: center;
                overflow: hidden;

                .brandingImage{
                    position: absolute;
                    width: 85%;
                    // height: auto;
                }
            }
        }
    }
    // ** END WORK AREA **

    // ----------------------

    // ** Footer Styles **
    .footer{
        width: 100%;
        height: 30vh;
        background-color:$black;
        display: flex;
        flex-direction: column;

        .fContentArea{
            width: 100%;
            height: 90%;
            display: flex;
            flex-direction: row;

            .nextProjectTitleArea{
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                padding-left: 1em;

                h3{
                    color: $pink;
                    margin: 0;
                    margin-bottom: 0.5em;
                }
                h1{
                    color: $offWhite;
                    margin: 0;
                }
            }

            .nextProjectArrowArea{
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding-right: 2em;

                i{
                    font-size: 2em;
                    color: $offWhite;
                }

                i:hover{
                    color: $pink;
                }
            }
        }

        .fCopyrightArea{
            width: 100%;
            height: 10%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            i{
                font-size: 0.75em;
                color: $offWhite;
                margin-right: 0.5em;
                color: $pink;
            }

            h3{
                font-weight: $regular;
                font-size: 0.75em;
                color: $offWhite;
                margin: 0;
            }
        }
    }
}