// Variables

// Colors
$pink: #FCB2AE;
$blue: #A3DAFF;
$black: #282828;
$offWhite: #f4f4f4;
$white: #ffffff;

// Fonts
$raleway: "raleway", sans-serif;
$oswald: "oswald", sans-serif;
$stratos: "stratos", sans-serif;

// Font Weights
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700; 

// Devices
$desktop: 840px;

@mixin desktop{
    @media (min-width: #{$desktop}){
        @content;
    }
}

html, body{
    padding: 0;
    margin: 0;
    font-size: 14px;
}

a{
    text-decoration: none;
    color: $black;
}

ul{
    list-style-type: none;
    padding-left: 0;

    li{
        font-family: $raleway;
        font-weight: $regular;
        font-size: 1.5em;
        margin-top:0.5em;
        margin-bottom: 0.5em;
    }
}

h1{
    font-family: $raleway;
    font-weight: $regular;
    font-size: 1.5em;
    color: $black;
}
h2{
    font-family: $raleway;
    font-weight: $regular;
    font-size: 1em;
    color: $black;
}
h3{
    font-family: $raleway;
    font-weight: $bold;
    font-size: 1em;
    color: $black;
}

body{
    width: 100%;
    height: 100%;

    // ** MENU AREA STYLES **
    .hamburgerArea{
        width: 100vw;
        height: 10vh;
        position: fixed;
        z-index: 10;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(255, 255, 255, 0);

        .menuLogo{
            height: 100%;
            width: 50%;
            display: flex;
            align-items: center;
            
            img{
                height: 80%;
                margin-left: 1.5em;
            }
        }

        .menuIcon{
            margin-right: 1.5em;
            cursor: pointer;
        }
        span{
            display: block;
            width: 30px;
            height: 3px;
            margin-bottom: 4px;
            position: relative;
            background: $white;
            border-radius: 3px;
        }
    }

    .offPageMenu{
        width: 100vw;
        height: 0vh;
        // opacity: 0.5;
        background-color: $white;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: fixed;
        z-index: 5;
         

        .menu{
            margin-left: 2em;
            opacity: 1;
            
            li{
                transform: translate(-50px);
                opacity: 0;
                cursor: pointer;
                color: $black;
                margin-top: 1em;
                margin-bottom: 1em;
            }
        }
    }
    // ** END MENU AREA STYLES **

    // ** Fixed Banner Styles **
    .fixedBanner{
        width: 100%;
        height: 75vh;
        position: fixed;
        z-index: 0;
        background-image: url('../assets/bannerImages/elementHero.jpg');
        background-size: cover;
        background-position: center center;
        display: flex;
        align-items: center;
        justify-content: center;

        @include desktop{
            height: 50vh;
        }

        img{
            width: 70%;

            @include desktop{
                width: 50%;
            }
        }
    }

    // ** END Fixed Banner Styles **

    // -------------------------------

    // ** CONTENT AREA STYLES **   
    .contentContainer{
        width: 100%;
        // height: 100%;
        background-color: $offWhite;
        z-index: 2;
        position: absolute;
        top: 70%;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;

        @include desktop{
            top: 50%;
        }

         // ** OVERVIEW AREA STYLES **  
        #oveviewContainer{
            width: 100%;
            height: 70vh;
            background-color: $white;

            @include desktop{
                height: 50vh;
            }

            #scrollIndicatorView{
                width: 100%;
                height: 10%;
                display: flex;
                align-items: center;
                justify-content: center;

                @include desktop{
                    display: none;
                }

                #indicator{
                    width: 20%;
                    height: 15%;
                    background-color: $offWhite;
                    border-radius: 1000px;
                }
            }

            #overivewContentView{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;

                @include desktop{
                    height: 100%;
                    flex-direction: row;
                }

                .overviewFlexbox{
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @include desktop{
                        width: 50%;
                        height: 100%;
                    }
                }

                // Overview Description
                #overviewDescriptionArea{
                    width: 100%;
                    height: 30%;
                    box-sizing: border-box;
                    // padding: 2em 2em;

                    @include desktop{
                        padding: 2em 5em;
                        width: 50%;
                        height: 100%;
                    }

                    h1{
                        font-family: $raleway;
                        font-weight: $regular;
                        font-size: 1.2em;

                        @include desktop{
                            font-size: 1.9em;
                        }
                    }
                }
                
                // Overview Info
                #overviewInfoArea{
                    width: 100%;
                    height: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    box-sizing: border-box;
                    
                    @include desktop{
                        padding: 4em 0em;
                        width: 50%;
                        height: 100%;
                    }

                    .overviewRow{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        box-sizing: border-box;
                        padding: 0 1em;

                        #oRowLarge{
                            align-items: flex-start;
                        }

                        .oRowLeft{
                            width: 40%;
                            height: 100%;
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;

                            h3{
                                font-size: 1em;

                                @include desktop{
                                    font-size: 1.5em;
                                }
                            }
                        }

                        .overviewSeperator{
                            width: 2%;
                            height: 90%;
                            background-color: $pink;
                            border-radius: 100px;
                            margin: 0 1em;

                            @include desktop{
                                width: 1.5%;
                            }
                        }

                        .oRowRight{
                            width: 60%;
                            height: 100%;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;

                            h2{
                                font-size: 1em;

                                @include desktop{
                                    font-size: 1.5em;
                                }
                            }

                            ul{
                                height: 90%;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-around;
                                align-items: flex-start;
                                margin: 0;
                                box-sizing: border-box;
                                margin-top: 0.5em;

                                li{
                                    margin: 0em;
                                    font-size: 1em;
                                    font-family: $raleway;
                                    font-weight: $regular;

                                    @include desktop{
                                        font-size: 1.5em;
                                    }
                                }
                            }
                        }
                    }

                    .overviewRowSmall{
                        width: 100%;
                        height: 10%;

                        @include desktop{
                            height: 15%;
                        }
                        
                    }

                    .overviewRowLarge{
                        width: 100%;
                        height: 60%;
                    }
                }
            }
        }

        // ** END OVERVIEW AREA STYLES ** 
         
        //  ----------------------------
        
        // ** Wave Break Styles **
        .waveBreak{
            width: 100%;
            height: 14vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            background-color: white;
            z-index: 3;

            @include desktop{
                height: 50vh;
            }

            .waveFront{
                position: absolute;
                z-index: 3;
            }
            .waveBack{
                position: absolute;
                z-index: 2;
            }
            .hideEndWave{
                opacity: 0;
            }
        }

        .waveFlipped{
            transform: rotate(180deg);
            background-color: $black;
        }
        // ** END WAVE BREAK **

         //  ----------------------------

         // WORK AREA STYLES   
         #workArea1{
             background-color: $offWhite;
         } 
         #workArea2{
             background-color: $offWhite;
         }
         #workArea3{
            background-color: $offWhite;
        }
        #workArea4{
            background-color: $offWhite;
        }
        #workArea5{
            background-color: $offWhite;
        }
        #workArea6{
            background-color: $offWhite;
            margin-bottom: 3em;

            @include desktop{
                margin-bottom: 0;
            }
        }
        .workArea{
            width: 100%;
            height: 90vh;
            overflow: hidden;
            // background-color: $pink;
            // margin-bottom: 1em;

            .wContent{
                width: 100%;
                height: 100%;
                overflow: hidden;
                // padding-top: 10vh;

                @include desktop{
                    display: flex;
                    flex-direction: row;
                }


                .contentFlexbox{
                    width: 100%;
                    height: 50%;

                    @include desktop{
                        width: 50%;
                        height: 100%;
                    }
                }
    
                // INFO AREA
                .wInfoArea{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-end;

                    #wHeaderRightAlign{
                        // display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
        
                    }

                    .wHeaderArea{
                        width: 100%;
                        height: 50%;
                        position: relative;
                        white-space: nowrap;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;

                        @include desktop{
                            justify-content: center;
                        }
                        
                         // LEFT ALIGNMENT
                        .headerH1AlignLeft{
                            position: absolute;
                            font-size: 8rem;
                            font-weight: $bold;
                            color: white;
                            margin: 0;
                            margin-left: -0.2em;
                            z-index: 1;
                            top: 25%;
                            transform: translate(0%,-50%);


                            @include desktop{
                                font-size: 11rem;
                                top: 30%;
                            }
    
                        }
                        .headerH2AlignLeft{
                            position: absolute;
                            font-size: 3rem;
                            font-weight: $bold;
                            color: $black;
                            margin: 0;
                            margin-left: 0.3em;
                            z-index: 1;
                            top: 75%;
                            transform: translate(0%,-50%);

                            @include desktop{
                                font-size: 4rem;
                                top: 65%;
                                margin-left: 2rem;
                            }


                            // @include desktop{
                            //     font-size: 5vw;
                            // }
                        }
                        .headerImgAlignLeft{
                            position: absolute;
                            z-index: 0;
                            // margin-top: 1em;
                            transform: translate(0%,-50%);
                            top: 50%;
                            margin-left: -1em;

                            @include desktop{
                                width: 50%;
                            }
                        }
                    }

                    .wTextArea{
                        width: 100%;
                        height: 60%;
                        box-sizing: border-box;
                        padding: 2em 1.5em;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;

                        @include desktop{
                            padding: 3em 5em;
                        }
        
                        h3{
                            font-size: 1rem;
                            font-weight: $regular;
                            margin: 0.5em 0;

                            @include desktop{
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
                // END INFO AREA

                // wWORK AREA
                .wWorkArea{
                    width: 100%;
                    height: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;

                    @include desktop{
                        width: 50%;
                        height: 100%;
                    }
    
                    .brandingImage{
                        position: absolute;
                        max-width: 100%;

                        @include desktop{
                            max-width: 50%;
                        }
                    }

                    .wSection{
                        height: 100%;
                        width: 95%;

                        iframe{
                            display: block;       
                            // background: white;
                            margin: 0;
                            border: none;      
                            height: 100%;       
                            width: 100%;
                        }
                    }
                }
                // END wWORK AREA

                // ALT WORK AREA
                .wSection{
                    width: 100%;
                    height: 100%;
                    position: relative;

                    #aeTitle{
                        align-items: flex-end;
                        margin-left: -2em;
                    }

                    .sectionTitle{
                        width: 100%;
                        // height: 30%;
                        z-index: 3;
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        margin-left: 1em;
                        top: 25%;
                        transform: translate(0%, -50%);
                        
                        @include desktop{
                            // height: 20%;
                            top: 20%;
                            margin-left: 10%;
                            // align-items: center;
                        }
                        
                        h1{
                            font-family: $raleway;
                            font-weight: $bold;
                            font-size: 1.3em;
                            color: $black;
                            margin: 0;

                            @include desktop{
                                font-size: 2em;
                            }
                        }
                    }

                    .sectionContent{
                        width: 100%;
                        z-index: 1;
                        // height: 100%;
                        position: absolute;
                        top: 25%;
                        transform: translate(0%, -50%);

        
                        @include desktop{
                            display: none;
                        }

                    
        
                        img{
                            width: 100%;
                            position: absolute;

                            @include desktop{
                                height: 100%;
                                width: auto;
                            }
                        }
        
                    }

                    .sectionContentLarge{
                        display: none;

                        @include desktop{
                            width: 100%;
                            height: 70%;
                            top: 30%;
                            z-index: 1;
                            position: absolute;
                            display: flex;
                            
                            .deshDashes{
                                position: absolute;
                                z-index: 3;
                                height: 40%;
                                opacity: 0.8;
                                top: -25%;
                            }

                            .deshDashesRight{
                                position: absolute;
                                z-index: 3;
                                height: 40%;
                                opacity: 0.8;
                                top: -25%;
                                left: 70%;
                            }
    
                            #desktopGrid{
                                width: 100%;
                                height: 100%;
                                display: flex;
                                flex-wrap: nowrap;
                                overflow-x: auto;

                                img{
                                    height: 100%;
                                    flex: 0 0 auto;
                                }
                            }
                        }
                    }

                }
            }
        }
         // END WORK AREA STYLES

         #footerBreak{
             background-color: $offWhite;
         }

         // ** Footer Styles **
    .footer{
        width: 100%;
        height: 50vh;
        background-color:$black;
        display: flex;
        flex-direction: column;

        .fContentArea{
            // width: 100%;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img{
                width: 10%;
                margin-bottom: 1rem;

                @include desktop{
                    width: 5%;
                }
            }

            h1{ 
                font-family: $raleway;
                font-weight: bold;
                font-size: 1rem;
                color: $offWhite;
                margin: 0.5rem 0;

                @include desktop{
                    font-size: 1.5rem;
                }
            }

            .socialArea{
                display: flex;
                flex-direction: row;
                margin-top: 1rem;

                i{
                    font-size: 2rem;
                    color: $offWhite;
                    margin: 1rem 1rem;

                    @include desktop{
                        font-size: 2.5rem;
                    }
                }

                i:hover{
                    color: $pink;
                }
            }
        }

        .fCopyrightArea{
            width: 100%;
            height: 10%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            i{
                font-size: 0.75em;
                // color: $offWhite;
                margin-right: 0.5em;
                color: $pink;
            }

            h3{
                font-weight: $light;
                font-size: 0.75em;
                color: $offWhite;
                margin: 0;
            }
        }
    }
    } 
    // END CONTENT AREA

    //  ----------------------------
}

// END Body

//  ----------------------------